@import url('https://fonts.cdnfonts.com/css/star-wars');
@import url('https://fonts.cdnfonts.com/css/neon-android');

html,body{
   margin:0;
   padding: 0;
}
body{
   background-image: url("https://st4.depositphotos.com/3336339/19794/i/600/depositphotos_197946478-stock-photo-abstract-geometric-architectural-background-white.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed; /*para fijar la imagen al fondo --- estilos del body */
}

/* ESTILOS PARA EL LOADING DE CARGA */
#title-loading{                 
   font-family: 'Neon Android';
   font-size: 30px;
}

#loading{                      
   margin-top: 350px;
}
.spinner-grow{    
   width: 40px;
   height: 40px;
}
/* ESTILOS PARA EL LOADING DE CARGA */

/*grid en celdas por columnas el eje horizontal (x) con la propiedad overflow es para la barra y despues el scroll inline para el contenido( que no se desplace)*/
.titulo{
   font-family: 'Neon Android';
 margin-left: 20px;
}
.carrousel::-webkit-scrollbar {
   width: 8px; 
 }
 
 .carrousel::-webkit-scrollbar-track {
   background:  linear-gradient(90deg, rgba(208,57,59,0.9920343137254902) 0%, rgba(14,14,14,1) 50%, rgba(40,127,238,0.9948354341736695) 100%);
   border-radius: 30px;
 }
 
 .carrousel::-webkit-scrollbar-thumb {
   background-color: #000000; /* color de la barra */
   box-shadow:  inset 0px 0px 7px 3px rgba(244, 246, 248, 0.95);
   border-radius: 30px;
 }

.carrousel{          
   display:grid;
   gap: 30px;
   grid-auto-flow: column;
   grid-auto-columns: 20%;
   overflow-x: scroll;
   overscroll-behavior-inline: contain;
}
#carrousel{
   margin-bottom: 90px;
}

#carta{
   background-color: #020202;
   transition: all .2s;
    min-width: 270px;
    min-height: 300px;
    border-radius: 20px;
    margin-bottom: 10px;
}
#carta:hover{
   transform: scale(0.98);
   box-shadow: 0px 0px 30px 10px #ca0a0ac4
}
.cartas{
padding: var(--size-3);
}
#imagen-carta{
   width: 100%;
   padding: 10px;
   border-radius: 20px
}

.botones-carta{
    display: flex;
    justify-content: space-between;
}
 .fa-heart{
   color:#ca0a0ac4;
 }

