
/*grid en celdas por columnas el eje horizontal (x) con la propiedad overflow es para la barra y despues el scroll inline para el contenido( que no se desplace)*/
.carrousel{          
   display:grid;
   gap: var(--size-3);
   grid-auto-flow: column;
   grid-auto-columns: 20%;
   overflow-x: auto;
   overscroll-behavior-inline: contain;
}
.cartas{
padding: var(--size-3);
}
#imagen-carta{
   width: 100%;
}

.botones-carta{
    display: flex;
    justify-content: space-between;
}