@import url('https://fonts.cdnfonts.com/css/star-wars');
@import url('https://fonts.cdnfonts.com/css/neon-android');

html,body{
   margin:0;
   padding: 0;
}
body{background: rgb(101,88,64);
   background: linear-gradient(90deg, rgba(101,88,64,0.9920343137254902) 0%, rgba(226,228,182,1) 50%, rgba(110,109,100,0.9948354341736695) 100%);}
   

nav{ background-color: #7f7559a2}
#logoweb{
   width: 150px;
   margin-left: 30px;
}
#titulo-navbar{
   font-family: 'Neon Android', sans-serif;                                             
  color: black;
  font-size:30px;

}

h1{
   font-family: 'Star Wars', sans-serif;
   color: black;
}
/*grid en celdas por columnas el eje horizontal (x) con la propiedad overflow es para la barra y despues el scroll inline para el contenido( que no se desplace)*/
.carrousel{          
   display:grid;
   gap: var(--size-3);
   grid-auto-flow: column;
   grid-auto-columns: 20%;
   overflow-x: scroll;
   overscroll-behavior-inline: contain;
   scrollbar-width:thin;
}
#carta{
   background-color:  black;

}
.cartas{
padding: var(--size-3);
}
#imagen-carta{
   width: 100%;
}

.botones-carta{
    display: flex;
    justify-content: space-between;
}


#footer{ margin-top: 100px;}